html {
    overflow-y: scroll;
}
p{ line-height: 1.4em; }
h1, h2, h3, h4{
    color: #007DBC;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.8em; }
h2{ font-size: 1.5em;
    color: #115b00;
 }
h3{ font-size: 1.0em;
    font-weight: normal;
    color: black;
}
h4{ font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-align: center; 
}
h5{ font-size: 1.0em;
    font-weight: bold;
    color: black;
}
h6{ font-size: 0.8em;
    weight: normal;
    color: grey;
}
h7{ line-height: 1.5em;
    font-weight: normal;
    font-size: 1.0em;
}
h8{ line-height: 1.0em;
    font-weight: normal;
    font-size: 1.0em;
    
} 
a{
	color: navy;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100%; 
	line-height: 1.0em;
    padding: 20px 0px 20px;
	width: 100%;
	margin: 0px auto;
    background-color: #072400;
}
#container {
    border-radius: 25px;
	background-color: lightgray;
    width: 90%;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
   
#header{
    height: 240px;
    border-radius: 25px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px 5px 25px 5px;
    text-align: center;
}
#nav {
    border-radius: 25px;
    width: 100%;
    border: 0px;
    padding: 5px 0px 5px;
    clear: both;
}
    #nav ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #708090;
            /* Rounded left corners */
          -webkit-border-top-left-radius: 25px;
          -webkit-border-bottom-left-radius: 25px;
          -moz-border-radius-topleft: 25px;
          -moz-border-radius-bottomleft: 25px;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          /* Rounded right corners */
          -webkit-border-top-right-radius: 25px;
          -webkit-border-bottom-right-radius: 25px;
          -moz-border-radius-topright: 25px;
          -moz-border-radius-bottomright: 25px;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
      
          }
          #nav li {
               float: left;
               }
          #nav li a {
               display: block;
               color: #f5f5f5;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               }
          #nav a:hover:not(.active) {
               background-color: #333;
               }
          .active {
               background-color: #006400;
               }
/* ===== END Nav Menu ===== */
#content{
    overflow:hidden;
    text-align: left;
	margin: auto;
	background-color: #f5f5f5;
	padding: 20px;
    border-radius: 25px;
    clear: both;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75); 
}

table{
    float:left;
}
div.linkreset a:link {
  color: navy;
  background-color: transparent;
}

div.linkreset a:hover {
  color: navy;
  background-color: transparent;
}

div.linkreset a:visited {
  color: lightsteelblue;
  background-color: transparent;
}

#content2{ /* Content popup boxes */
    overflow:hidden;
    text-align: left;
	margin: auto;
	background-color: darkseagreen;
	padding: 5px 20px 5px 20px;
    border-radius: 10px;
    clear: both;
 
}
#contactheader{
    line-height: 1.3em;
}

#indent{
    text-align: left;
    margin-left: 30px;
    clear: both;
     
}

#linkalignright{ 
    text-align: right;
    margin: auto;
    clear: both;
    padding-right: 30px;
}

#footer{
    margin: auto;
}
form {
    /* Just to center the form on the page */
    position: relative;
    margin:auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font: arial;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
    padding-left: 90px; 
}
button {
    margin-left: .5em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}