html {
    overflow-y: scroll;
    background-color:lightgray;
       font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;
}
p {
    color: white;
}
a {
  color:  #006400;
  text-decoration: none;
}
a:hover, a:active{ 
        text-decoration: underline; 
        }
#container {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px 20px 0px 20px;

}
.flex-container {
    display: flex;
    flex-direction: column;
    height: 250px;
}
#header {
    background-color: lightgray;
    overflow: visible;
    position: relative;

}
    #header h1{
        font-size: 2.0em;
        color: #006400;
        z-index: 1;
        position: relative;
      
    }
    #banner {
        height: 250px;
        width: 250px;
        z-index: 2;
        top: 0px;
        position: absolute;
    }
    #header ul {
        list-style: none;
        overflow: hidden;
        margin-top: 125px;
        z-index: 0;
    }
    #header li {
        float: right;
        padding: 2px;
        display:block;
        text-align: right;
        text-decoration: none;
        padding: 14px 16px;
    }
    #nav a:hover:not(.active) {
        background-color: #333;
               }
    .active {
        border-top: 2px solid #115b00;

               }
    li a, .dropbtn {
    display: inline-block;
    text-align: center;
    
    text-decoration: none;
    }

    li a:hover, .dropdown:hover .dropbtn {
    color: white;
    background-color: #333;
    
    }

    li.dropdown {
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #708090;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

    .dropdown-content a:hover {
    background-color: #333;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    overflow: visible;
    z-index: 1;
    }
#body {
    width: 100%;
    background-color: #072400;
    padding: 0px 0px 20px;
    margin: 0px auto;
}
#footer {
    font-size: 0.8em;
    weight: normal;
    color: gray;
}